<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include("./head.ejs") %>
  </head>
  
  <body>
    <div id="post_id" style="display: none;"><%= id %></div>
    <div id="nickname" style="display: none;"><%= post.nickname %></div>
    <div id="love" style="display: none;"><%= post.love %></div>
    <nav id="navbar-example2" class="navbar navbar-light px-3">
      <a class="navbar-brand" href="#">중고 거래</a>
      <ul class="nav nav-pills">
        <% if(login){ %>
          <li class="nav-item">
            <a id="regist" class="nav-link" href="/regist">등록</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">마이페이지</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="/user/logout">로그아웃</a>
          </li>
          <% }else{ %>
            <li class="nav-item">
              <a class="nav-link" href="/user/login">로그인</a>
            </li>
          <% } %>
      </ul>
    </nav>
    <div style="width: 100%; height: auto; position: relative;">
      <div id="modal">
        <div id="top" style="height:48px; width:100%; position: relative; line-height: 40px;">
          <div style="float: left; margin: auto 20px; width: 40px;height: 40px; cursor: pointer;" onclick="location.href='/'">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
            </svg>
          </div>
        </div>
        <div id="img_wrap" style="height: 312px; width: 100%; position: relative;">
          <div style="display: none; width: 100%; height: 100%; position: inherit;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="grey" class="bi bi-image" viewBox="0 0 16 16">
              <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
              <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z"/>
            </svg>
          </div>
          <% for (var key in post){ %>
            <% if (key.slice(0,5)=="image"){ %>
              <% if (post[key]==null){ break }%>
              <img src="<%= post[key] %>" style="display: none;">
          <% }} %>
          <div id="left_box">
            <svg id="left" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-caret-left-square" viewBox="0 0 16 16">
              <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
              <path d="M10.205 12.456A.5.5 0 0 0 10.5 12V4a.5.5 0 0 0-.832-.374l-4.5 4a.5.5 0 0 0 0 .748l4.5 4a.5.5 0 0 0 .537.082z"/>
            </svg>
          </div>
          <div id="right_box">
            <svg id="right" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-caret-right-square" viewBox="0 0 16 16">
              <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
              <path d="M5.795 12.456A.5.5 0 0 1 5.5 12V4a.5.5 0 0 1 .832-.374l4.5 4a.5.5 0 0 1 0 .748l-4.5 4a.5.5 0 0 1-.537.082z"/>
            </svg>
          </div>
        </div>
        <div id="name" style="text-align: left;">
          <div style="font-size: 15px; font-weight: bolder;"><%= post.nickname %></div>
          <div style="font-size: 15px; "><%= post.location %></div>
        </div>
        <div id="contents" style="text-align: left; white-space: pre-line;">
          <div style="font-size: 20px; font-weight: bolder;"><%= post.title %></div>
          <div style="font-size: 15px;"><%= post.category %></div>
          <div style="font-size: 15px; font-weight: bolder; margin-bottom: 50px;"><%= post.contents%></div>
        </div>
      </div>
    </div>
    <div id="state">
      <div id="heart">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
          <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
        </svg>
      
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
        </svg>
      </div>
      <div style="position: absolute; left:85px; height: 100%; line-height: 70px; text-align: center;  " >
        <%= post.cost %><% if(post.cost!="가격 미정") { %>원<% } %>
      </div>
      <div id="chat">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-dots" viewBox="0 0 16 16">
          <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
          <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
        </svg>
      </div>
    </div>
  </body>

</html>
<script>
  $(function(){
    var h = $("#modal").height()/2
    $("#modal").css("top", h+"px")

    if($("#img_wrap").children("img").length==0){
      $("#left_box").css("visibility","hidden")
      $("#right_box").css("visibility","hidden")
      $("#img_wrap").children().first().css("display", "block")
    }

    var img = $("#img_wrap").children("img").first()
    img.css("display", "block")
    $("#right").click(function(){
      if(img.next("img").length==0){
        return
      }else{
        img.css("display", "none")
        img = img.next("img")
        img.css("display", "block")
      }
    })
    $("#left").click(function(){
      if(img.prev("img").length==0){
        return
      }else{
        img.css("display", "none")
        img = img.prev("img")
        img.css("display", "block")
      }
    })
  })

  var love;
  if($("#love").text().length==0){
    $(".bi-heart").css("display", "block")
    love = 0
  }else{
    $(".bi-heart-fill").css("display", "block")
    love = 1
  }

  $("#heart").click(function(){
    $.getJSON("/post/love",
      {
        post_id : $("#post_id").text(),
        name : $("#nickname").text(),
        love : love
      },function(result){
        if (result.love == 0){
          $(".bi-heart").css("display", "block")
          $(".bi-heart-fill").css("display", "none")
        }else{
          $(".bi-heart-fill").css("display", "block")
          $(".bi-heart").css("display", "none")
        }
        love = result.love
      }
    )
  })
</script>

<style>
  body{
    background-color: #f9f9f9;
    height: auto;
  }
  #navbar-example2 {
    background-color: #FFFFFF;
  }

  .navbar-brand {
    margin-left: 50px;
  }

  .row {
    width: 60vw;
    margin: 0 auto;
    text-align: center;
  }

  .nav-link {
    cursor: pointer;
    padding: 0;
    margin: 0 10px
  }

  #modal {
    position: absolute;
    width: 550px;
    height: auto;
    padding: 30px, 20px;
    text-align: center;
    top : 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    border: solid 1.5px black;
    margin-top: 25px;
    background-color: #FFFFFF;
    min-height: 850px;
    z-index: -1;
  }
  #modal h2 { 
    margin:  30px;
  }

  #state{
    z-index: 1;
    background-color: #FFFFFF;
    position: fixed;
    width: 550px;
    height: 70px;
    left: 50%;
    bottom : 0;
    transform: translate(-50%, 0%);
    border: solid 1.5px black;
  }

  #name{
    height: 100px;
    width: 100%;
  }
  
  img{
    position: inherit;
    max-width: 100%;
    height: 100%;
    z-index: -1;
    margin : 0 auto
  }
  #left_box{
    z-index: 1;
    position: absolute;
    top : 156px;
    left: 10px;
    cursor: pointer;
    background-color: white; 
    width: 25px;
    height: 25px;
    border-radius : 5px;
  }
  #right_box{
    z-index: 1;
    position: absolute;
    top : 156px;
    right : 10px;
    cursor: pointer;
    background-color: white; 
    width: 25px; 
    height: 25px;
    border-radius : 5px;
  }

  .bi-caret-left-square, .bi-caret-right-square{
    position: absolute;
    left: 0;
    top : 0;
  }
  .bi-image{
    width: 100%;
    height: 95%;
  }
  #heart{
    position: absolute;
    left: 20px;
    width: 25px;
    height: 25px;
    top : 22.5px;
    cursor: pointer;
  }
  .bi-heart ,.bi-heart-fill{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
  }

  #chat{
    position: absolute;
    right: 20px;
    width: 25px;
    height: 25px;
    top : 22.5px;
    cursor: pointer;
  }
  .bi-chat-left-dots{
    position: absolute;
    width: 100%;
    height: 100%;
  }
</style>